<div class="topnav">
    <div class="container-fluid">
        <nav class="navbar navbar-light navbar-expand-lg topnav-menu">

            <div class="collapse navbar-collapse" id="topnav-menu-content">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">
                            <i class="fe-airplay mr-1"></i> Dashboard
                        </a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-apps" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-layers mr-1"></i> Apps <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-apps">
                            <a href="apps-calendar.html" class="dropdown-item">Calendar</a>
                            <a href="apps-tickets.html" class="dropdown-item">Tickets</a>
                            
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-email"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Email <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-email">
                                    <a href="email-inbox.html" class="dropdown-item">Inbox</a>
                                    <a href="email-read.html" class="dropdown-item">Read Email</a>
                                    <a href="email-compose.html" class="dropdown-item">Compose Email</a>
                                </div>
                            </div>
                            <a href="apps-taskboard.html" class="dropdown-item">Task Board</a>
                            <a href="apps-task-detail.html" class="dropdown-item">Task Detail</a>
                            <a href="apps-contacts.html" class="dropdown-item">Contacts</a>
                            <a href="apps-projects.html" class="dropdown-item">Projects</a>
                            <a href="apps-companies.html" class="dropdown-item">Companies</a>
                            <a href="apps-file-manager.html" class="dropdown-item">File Manager</a>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-ui" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-briefcase mr-1"></i> UI Elements <div class="arrow-down"></div>
                        </a>

                        <div class="dropdown-menu mega-dropdown-menu dropdown-mega-menu-xl" aria-labelledby="topnav-ui">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-typography.html" class="dropdown-item">Typography</a>
                                        <a href="ui-cards.html" class="dropdown-item">Cards</a>
                                        <a href="ui-buttons.html" class="dropdown-item">Buttons</a>
                                        <a href="ui-modals.html" class="dropdown-item">Modals</a>
                                        <a href="ui-spinners.html" class="dropdown-item">Spinners</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-ribbons.html" class="dropdown-item">Ribbons</a>
                                        <a href="ui-tooltips-popovers.html" class="dropdown-item">Tooltips &amp; Popover</a>
                                        <a href="ui-checkbox-radio.html" class="dropdown-item">Checkboxs-Radios</a>
                                        <a href="ui-tabs-accordions.html" class="dropdown-item">Tabs & Accordions</a>
                                        <a href="ui-progressbars.html" class="dropdown-item">Progress Bars</a>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div>
                                        <a href="ui-notifications.html" class="dropdown-item">Notification</a>
                                        <a href="ui-grid.html" class="dropdown-item">Grid</a>
                                        <a href="ui-sweet-alert.html" class="dropdown-item">Sweet Alert</a>
                                        <a href="ui-bootstrap.html" class="dropdown-item">Bootstrap UI</a>
                                        <a href="ui-range-slider.html" class="dropdown-item">Range Slider</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-components" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-box mr-1"></i> Components <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-components">
                            <a href="widgets.html" class="dropdown-item">Widgets</a>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-charts"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Charts <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-charts">
                                    <a href="charts-flot.html" class="dropdown-item">Flot Chart</a>
                                    <a href="charts-morris.html" class="dropdown-item">Morris Chart</a>
                                    <a href="charts-chartist.html" class="dropdown-item">Chartist Chart</a>
                                    <a href="charts-chartjs.html" class="dropdown-item">Chartjs Chart</a>
                                    <a href="charts-sparkline.html" class="dropdown-item">Sparkline Chart</a>
                                    <a href="charts-knob.html" class="dropdown-item">Jquery Knob</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-form"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Forms <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-form">
                                    <a href="forms-elements.html" class="dropdown-item">Form Elements</a>
                                    <a href="forms-advanced.html" class="dropdown-item">Form Advanced</a>
                                    <a href="forms-validation.html" class="dropdown-item">Form Validation</a>
                                    <a href="forms-pickers.html" class="dropdown-item">Form Pickers</a>
                                    <a href="forms-wizard.html" class="dropdown-item">Form Wizard</a>
                                    <a href="forms-mask.html" class="dropdown-item">Form Masks</a>
                                    <a href="forms-summernote.html" class="dropdown-item">Summernote</a>
                                    <a href="forms-quilljs.html" class="dropdown-item">Quilljs Editor</a>
                                    <a href="forms-x-editable.html" class="dropdown-item">X Editable</a>
                                    <a href="forms-file-uploads.html" class="dropdown-item">Multiple File Upload</a>
                                </div>
                            </div>
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-icons"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Icons <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-icons">
                                    <a href="icons-materialdesign.html" class="dropdown-item">Material Design</a>
                                    <a href="icons-dripicons.html" class="dropdown-item">Dripicons</a>
                                    <a href="icons-fontawesome.html" class="dropdown-item">Font awesome</a>
                                    <a href="icons-feather.html" class="dropdown-item">Feather Icons</a>
                                    <a href="icons-simpleline.html" class="dropdown-item">Simple Line Icons</a>
                                </div>
                            </div>
                            
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-table"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Tables <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-table">
                                    <a href="tables-basic.html" class="dropdown-item">Basic Tables</a>
                                    <a href="tables-datatable.html" class="dropdown-item">Data Tables</a>
                                    <a href="tables-responsive.html" class="dropdown-item">Responsive Tables</a>
                                    <a href="tables-tablesaw.html" class="dropdown-item">Tablesaw Tables</a>
                                    <a href="tables-foo.html" class="dropdown-item">FooTable</a>
                                </div>
                            </div>
                            
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-map"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Maps <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-map">
                                    <a href="maps-google.html" class="dropdown-item">Google Maps</a>
                                    <a href="maps-vector.html" class="dropdown-item">Vector Maps</a>
                                    <a href="maps-mapael.html" class="dropdown-item">Mapael Maps</a>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-pages" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-book-open mr-1"></i> Pages <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-pages">
                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-auth"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Auth Pages <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-auth">
                                    <a href="pages-login.html" class="dropdown-item">Login</a>
                                    <a href="pages-register.html" class="dropdown-item">Register</a>
                                    <a href="pages-logout.html" class="dropdown-item">Logout</a>
                                    <a href="pages-recoverpw.html" class="dropdown-item">Recover Password</a>
                                    <a href="pages-lock-screen.html" class="dropdown-item">Lock Screen</a>
                                    <a href="pages-confirm-mail.html" class="dropdown-item">Confirm Mail</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-error"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Errors <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-error">
                                    <a href="pages-404.html" class="dropdown-item">Error 404</a>
                                    <a href="pages-404-alt.html" class="dropdown-item">Error 404-alt</a>
                                    <a href="pages-500.html" class="dropdown-item">Error 500</a>
                                </div>
                            </div>

                            <div class="dropdown">
                                <a class="dropdown-item dropdown-toggle arrow-none" href="#" id="topnav-utility"
                                    role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Utility <div class="arrow-down"></div>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="topnav-utility">
                                    <a href="pages-starter.html" class="dropdown-item">Starter</a>
                                    <a href="extras-timeline.html" class="dropdown-item">Timeline</a>
                                    <a href="extras-profile.html" class="dropdown-item">Profile</a>
                                    <a href="extras-invoice.html" class="dropdown-item">Invoice</a>
                                    <a href="extras-faqs.html" class="dropdown-item">FAQs</a>
                                    <a href="extras-pricing.html" class="dropdown-item">Pricing</a>
                                    <a href="extras-email-template.html" class="dropdown-item">Email Templates</a>
                                    <a href="extras-ratings.html" class="dropdown-item">Ratings</a>
                                    <a href="extras-search-results.html" class="dropdown-item">Search Results</a>
                                    <a href="extras-gallery.html" class="dropdown-item">Gallery</a>
                                    <a href="extras-maintenance.html" class="dropdown-item">Maintenance</a>
                                    <a href="extras-coming-soon.html" class="dropdown-item">Coming Soon</a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle arrow-none" href="#" id="topnav-layout" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fe-sidebar mr-1"></i> Layouts <div class="arrow-down"></div>
                        </a>
                        <div class="dropdown-menu" aria-labelledby="topnav-layout">
                            <a href="layouts-vertical.html" class="dropdown-item">Vertical</a>
                            <a href="layouts-preloader.html" class="dropdown-item">Preloader</a>
                        </div>
                    </li>
                </ul> <!-- end navbar-->
            </div> <!-- end .collapsed-->
        </nav>
    </div> <!-- end container-fluid -->
</div> <!-- end topnav-->